
{
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "curly": [2, "multi-line"]
  }
}